<nav id="search_nav">
  <div class="nav-wrapper black z-depth-0">
     <form action="/search" id="search-form">
       <div class="input-field">
         <input id="search" class="black white-text" type="search" name="brand_name" required>
         <label for="search"><i class="material-icons red-text">search</i>SEARCH BY BRAND</label>
       </div>
      </form>
  </div>
</nav>
<nav id="main_nav">
  <div class="navbar-fixed black z-depth-0">
    <div class="col s8 offset-s3">
      <div id="main_header" class="nav-wrapper amber lighten-5">
        <a href="/autogenerate" class="brand-logo center white-text logo_font">Sneak Dis</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/stores/<%= @store.id() %>/edit" class="white-text accent-4 thin"><span class="custom-active"><%= @store.name %></span></a></li>
          <li class=""><a href="/" class="white-text accent-4 thin"><span class="">HOME</span></a></li>
          <li>
            <form action="/stores/new" method="get"><a href="#">
              <button class="waves-effect waves-light btn red" type="submit" name="button">Add Store</button></a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="body">
  <div class="center ">
    <div class="row">
      <div class="col s4 offset-s2">
        <br><br>
        <h3 class="inline-element">Edit Store Profile</h3>
        <form action="/stores/<%=@store.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="waves-effect waves-light btn amber inline-element inline-button" type="submit" name="button">DELETE</button>
        </form>
        <form class="" action="/stores/<%= @store.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div id="store-wrapper">
            <div class="col s12">
              <label for="name">Name</label>
              <input class="center" type="text" name="name" value="<%= @store.name %>">
            </div>
            <div class="col s12">
              <label for="location">Location</label>
              <input class="center" type="text" name="location" value="<%= @store.location %>">
            </div>
            <div class="col s12">
              <label for="phone">Phone</label>
              <input class="center" type="text" name="phone" value="<%= @store.phone %>">
            </div>
            <div class="row">
              <div class="col s6">
                <label for="open_time">Opens (AM)</label>
                <input class="center" type="text" name="open_time" value="<%= @store.open_time %>">
              </div>
              <div class="col s6">
                <label for="close_time">Closes (PM)</label>
                <input class="center" type="text" name="close_time" value="<%= @store.close_time %>">
              </div>
            </div>
            <h3 class="amber">Brands in stock</h3>
            <% if @store.brands.any? %>
              <% @store.brands.each do |brand| %>
                <img class="assigned-brand" src="<%=brand.image()%>" alt="brand logo"/>
              <% end %>
            <% else %>
              <h6 class="red-text">No brands on file. Please update.</h6><br>
            <% end %>
          </div>
          <button class="waves-effect waves-light btn red" type="submit" name="button">SAVE CHANGES</button>
        </form>
      </div>
      <div class="col s4">
        <br><br><br><br>
        <h3>Add Brands</h3>
        <div class="center">
          <% if @unused_brands.any? %>
            <% @unused_brands.each() do |unused_brand| %>
              <form class="center add_brand_form" action="/brands/assigned/new" method="post">
                <input type="hidden" name="store_id" value="<%= @store.id() %>">
                <input type="hidden" id="brand-name_id" name="brand_name" value="<%=unused_brand.name%>">
                <button class="add_brand_button" type="submit" name="button"><img class="assigned-brand" src="<%= unused_brand.image() %>" alt="brand logo"/></button>
              </form>
            <% end %>
          <% else %>
            <h6 class="red-text">Store carries all brands on file.</h6>
          <% end %>
        </div>
        <br>
        <h3>Add New Brand</h3>
        <form id="new_brand_form" class="" action="/brands/unassigned/new" method="post">
          <input type="hidden" name="store_id" value="<%= @store.id() %>">
          <div class="row">
            <div class="input-field col s12">
              <input id="brand_name_new" type="text" name="brand_name_new">
              <label for="brand_name_new">Name:</label>
            </div>
            <div class="input-field col s12">
              <input type="text" name="image">
              <label for="image">Image (link):</label>
            </div>
          </div>
          <div class="center">
            <button id="add-brand" class="waves-effect waves-light btn red" type="submit" name="button">Add Brand</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
